@()

@main("Welcome to Home Integrator") {
    <h1>Home Integrator Realtime Data</h1>

    Power Consumption: <span id="powerConsumption"></span> W<br/>
    Power Consumption P1: <span id="powerConsumptionP1"></span> W<br/>
    Power Consumption P2: <span id="powerConsumptionP2"></span> W<br/>
    Power Consumption P3: <span id="powerConsumptionP3"></span> W<br/><br/>

    Power Grid: <span id="powerGrid"></span> W<br/>
    Power Load: <span id="powerLoad"></span> W<br/>
    Power PV: <span id="powerPv"></span> W<br/>
    Self Consumption: <span id="selfConsumption"></span><br/>
    Autonomy: <span id="autonomy"></span><br/><br/>

    Consumption HeatPump: <span id="heatpumpPowerConsumption"></span> kW<br/>
    Temp Living Room: <span id="livingRoomTemp"></span> C<br/>
    Co2 Sleeping Room: <span id="sleepingRoomCo2"></span> ppm<br/>

    <script type="text/javascript" charset="utf-8">
            if (!!window.EventSource) {
                var meterSource = new EventSource("@routes.HomeController.streamRealtimeData()");
                meterSource.addEventListener('message', function(event) {
                    var data = JSON.parse(event.data);
                    $('#powerConsumption').html(data.powerRealSum)
                    $('#powerConsumptionP1').html(data.powerRealPhase1)
                    $('#powerConsumptionP2').html(data.powerRealPhase2)
                    $('#powerConsumptionP3').html(data.powerRealPhase3)
                });

                var consumptionSource = new EventSource("@routes.HomeController.streamMyHomeControlRealtimeData()");
                consumptionSource.addEventListener('message', function(event) {
                    var data = JSON.parse(event.data);
                    $('#heatpumpPowerConsumption').html(data.heatpumpPowerConsumption)
                    $('#livingRoomTemp').html(data.livingRoomTemp)
                    $('#sleepingRoomCo2').html(data.sleepingRoomCo2)
                });

                var powerFlowSource = new EventSource("@routes.HomeController.streamPowerFlowRealtimeData()");
                powerFlowSource.addEventListener('message', function(event) {
                    var data = JSON.parse(event.data);
                    $('#powerGrid').html(data.powerGrid)
                    $('#powerLoad').html(data.powerLoad)
                    var a = data.powerPv == null ? "na" : data.powerPv;
                    $('#powerPv').html(a)
                    var selfConsumption = data.selfConsumption == null ? "na" : data.selfConsumption;
                    $('#selfConsumption').html(selfConsumption)
                    var autonomy = data.autonomy == null ? "na" : data.autonomy;
                    $('#autonomy').html(autonomy)
                });
            } else {
                $("#powerConsumption").html("Sorry. This browser doesn't seem to support Server sent event. Check <a href='http://html5test.com/compare/feature/communication-eventSource.html'>html5test</a> for browser compatibility.");
            }
    </script>
}
